<html>
  <head>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="responsive.css">
  <head>
  <body>
    <header>
      <div class="header-main">
        <div class="header-left">
          <img src="{{url_for('static', filename='anpanman-logo.jpeg')}}" width="200px" height="165px">
        </div>
      </div>
    </header>
    <main>
      <div class="main-contents">
        <h1>アンパンマン大図鑑</h1>
        <img src="{{url_for('static', filename='anpanman.jpg')}}" width="300px" height="340px">
        <a href="{{url_for('hello')}}"><h2>なかまをさがしにいく</h2></a>
      </div>
    </main>
    <footer>

    </footer>
  </body>
</html>
