<html>
  <head>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="responsive.css">
  <head>
  <body>
    <header>
      <div class="header-main">
        <div class="header-left">
          <img class="logo" src="../img/anpanman_log.jpeg" alt="アンパンマンのロゴ画像">
        </div>
      </div>
    </header>
    <main>
      <div class="main-contents">
        <h1>アンパンマン大図鑑</h1>
        <img class="main-image" src="../img/anpanman.jpeg" alt="アンパンマンの画像">
        <a href="{{url_for('hello')}}"><h2>なかまをさがしにいく</h2></a>
      </div>
    </main>
    <footer>
      
    </footer>
  </body>
</html>
